.list-product{
    display: flex;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    justify-content: space-between;
}

.product{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    font-size: medium;
    gap: 10px;
}

.product > button{
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}